/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Navigation */

.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
}

.nav-links {
    font-size: 1rem;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #004B1A;
    padding: 12px;
}

.navlinks-wrap {
    display: flex;
    flex-direction: row;
    position: static;
    align-items: center;
}

.header-early-access {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: #004B1A;
    text-align: center;
    padding: 20px 20px;
    background-color: #C4FF88;
    border: solid 1px #004B1A;
    text-decoration: none;
    border-radius: 10px;
}

.header-early-access:hover {
    color: white;
    background-color: #004B1A;
    transition: .25s ease-in-out;

}
.header-full-wrap {
    margin-top: 20px;
    position: sticky;
}

/* End */

/* Hero Section */

.hero-button-wraps {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.enquire-wrap {
    display: flex;
    flex-direction: row;
}

.hero-heading {
    font-weight: 700;
    font-size: 3.75rem;
    font-family: Poppins, sans-serif;
    color: #004B1A;
    margin-top: 16px;
    line-height: 4.5rem;
}

.hero-text {
    font-weight: 400;
    font-family: Poppins, sans-serif;
    font-size: 1.125rem;
    color: #004B1A;
}

.enquire {
    font-weight: 400;
    font-family: Poppins, sans-serif;
    font-size: 1.125rem;
    color: #004B1A;
    text-align: center;
    padding: 25px 20px;
}

.get-early-access {
    padding: 25px 28px;
    text-align: center;
    background-color: #004B1A;
    color: white;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    text-decoration: none;
}

.enquire-link {
    text-decoration: none;
}

.hero-text {
    margin-top: 24px;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #004B1A;
    font-family: Poppins, sans-serif;
}

.hero-rightside {
    position: static;
    display: block;
    max-width: 460px;
}

.hero-leftside {
    max-width: 560px;
}

.hero-grid {
    display: grid;
    grid-column-gap: 150px;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 16px;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.hero-container {
    margin-left: 60px;
    margin-right: 60px;
    max-width: 1160px;
    width: 100%;
}

.hero-section {
    display: flex;
    padding-top: 100px;
    padding-bottom: 112px;
    justify-content: center;
    align-items: center;
}

.img-wrap {
    position: relative;
}

.left-cloud {
    position: absolute;
    left: auto;
    top: -3%;
    right: -2%;
    bottom: auto;
    z-index: 1;
}

.right-cloud {
    position: absolute;
    left: -4%;
    top: auto;
    right: auto;
    bottom: -2%;
}
/* Styles for mobile devices */

@media screen and (max-width: 479px) {
    .hero-section {
        padding-top: 32px;
    }

    .hero-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .hero-leftside {
        padding-left: 0px;
        padding-right: 0px;
    }

    /* .hero-img {
        width: 382px;
        height: 498.26px;
    } */

    .hero-heading {
        font-size: 36px;
        line-height: 42px;
    }

    .hero-text {
        display: block;
        font-size: 15px;
        line-height: 24px;
    }

    .left-cloud {
        max-width: 40%;
    }

    .right-cloud {
        max-width: 40%;
    }
}

@media screen and (max-width: 991px) {
    .hero-grid {
        grid-row-gap: 40px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}
/* End */

/* Stat Section */

.stat-text-block {
    padding-right: 1rem;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 3.375rem;
    text-align: left;
    color: #004B1A;
}

.stat-text {
    font-size: 1rem;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    line-height: 24px;
    color: #004B1A;
}

.stat-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}

.stat-grid {
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.stat-margin {
    margin-left: 60px;
    margin-right: 60px;
    width: 100%;
    max-width: 1160px;
}

.stat-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 70px;
}

/* Styles For Mobile Devices */

@media screen and (max-width: 479px) {
    .stat-margin {
        margin-right: 20px;
        margin-left: 20px;
    }

    .stat-block {
        max-width: 220px;
        flex-direction: column;
        align-items: flex-start;
    }

    .stat-text-block {
        text-align: left;
    }
}

@media screen and (max-width: 991px) {
    .stat-grid {
        grid-row-gap: 40px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
}
/* End */

/* 1st Seciton */

.first-section-leftside {
    max-width: 460px
}

.h2-heading {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 2.625rem;
    line-height: 48px;
    color: #004B1A;
}

.section-text {
    font-family: Poppins, sans-serif;
    font-size: 1.125rem;
    margin-top: 24px;
    margin-bottom: 40px;
    line-height: 28px;
    color: #004B1A;
}

.text-block {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    margin-left: 16px;
    color: #004B1A;
}

.features-checkmark {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
}

.features-checkmark-block {
    display: flex;
    flex-direction: column;
}

.first-section-grid {
    display: grid;
    grid-column-gap: 32px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 16px;
    align-items: center;
}

.first-section-container {
    width: 100%;
    max-width: 1160px;
    margin-right: 60px;
    margin-left: 60px;
}

.first-section-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-image-wrap {
    position: relative;
}

.left-cloud {
    position: absolute;
    left: auto;
    top: -3%;
    right: -2%;
    bottom: auto;
    z-index: 1;
}

.right-cloud {
    position: absolute;
    left: -4%;
    top: auto;
    right: auto;
    bottom: -2%;
}

/* Styles For Mobile Devices */

@media screen and (max-width: 991px) {
    .first-section-container {
        margin-right: 60px;
        margin-left: 60px;
    }

    .first-section-grid {
        grid-row-gap: 40px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}

@media screen and (max-width: 767px) {
    .first-section-container {
        margin-right: 40px;
        margin-left: 40px;
    }
}

@media screen and (max-width: 479px) {
    .first-section-container {
        margin-right: 20px;
        margin-left: 20px;
    }

    .h2-heading {
        font-size: 32px;
        line-height: 40px;
    }

    .section-text {
        display: block;
        font-size: 16px;
        line-height: 24px;
    }

    .text-block {
        font-size: 16px;
        line-height: 24px;
    }
}

/* End */

/* 2nd Section */

.featured-testimonial {
    display: flex;
    flex-direction: column;
    background-color: #F9F2E6;
    padding-top: 34px;
    align-items: flex-start;
    justify-items: flex-start;
    position: relative;
}

.featured-block {
    margin-left: 30px;
    margin-right: 30px;
    color: #004B1A;
    font-family: Poppins, sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 28px;
}

.text-block2 {
    margin-top: 16px;
    margin-bottom: 32px;
    margin-left: 32px;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    color: #004B1A;
}

.quote-mark {
    position: absolute;
    left: 5%;
    top: -8%;
    right: auto;
    bottom: auto;
}

.quote-cloud {
    position: absolute;
    left: auto;
    top: auto;
    right: 12%;
    bottom: -8%;
}

img {
    display: inline-block;
    max-width: 100%;
}

.second-section-leftside {
    max-width: 560px;
}

.second-section-rightside {
    max-width: 460px;
}

.second-section-grid {
    display: grid;
    grid-column-gap: 120px;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 16px;
    align-items: center;
}

.second-section-container {
    width: 100%;
    max-width: 1160px;
    margin-right: 60px;
    margin-left: 60px;
}

.second-section-wrap {
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
    align-items: center;
}

/* End */

/* Get Early Access Section */

.get-early-access-h2 {
    color: #C4FF88;
    font-family: Poppins, sans-serif;
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 60px;
    line-height: 64px;
    letter-spacing: -1px;
    font-weight: 600;
}

.early-access-btn {
    background-color: white;
    color: #004B1A;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 1rem;
    padding: 20px 32px;
    text-decoration: none;
}

.footer-cloud-1 {
    position: absolute;
    left: -5%;
    top: -4%;
    right: auto;
    bottom: auto;
}

.footer-cloud-2 {
    position: absolute;
    left: auto;
    top: auto;
    right: 3%;
    bottom: 0%;
}

.footer-cloud-wrap {
    position: relative;
    margin-bottom: 120px;
    padding: 135px 155px;
    background-color: #004B1A;
    text-align: center;
}

/* End */

/* Footer */

.social-icons {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.footer-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 610px;
}

.footer-section-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
    background-color: #F9F2E6;
}

.reserved-txt {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    color: #004B1A;
}

.early-access-section {
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 100px;
    margin-bottom: 150px;
}

/* End */